.header {
  padding: 50px 0;
  margin-bottom: 50px;
  text-align: center;
  background-color: var(--backgroundBoxDark);
  color: var(--colorTextLight);
  font-weight: bold;
  text-transform: uppercase;
}
