.header {
  font-size: 0.9rem;
  padding: 2rem 0;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--backgroundBoxDark);
  color: var(--colorTextLight);

  h1 {
    cursor: pointer;
  }
}
