.card {
  padding: 10px 0;
  border-top: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 2px 10px black;

  background-color: var(--backgroundBoxLightPlus);
}

.cardContent {
  padding: 0 5px;
}

.cardTitle {
  margin: 0;
  font-size: 1.2em;
  color: #424874;
}

.cardImg {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 720px) {
  .card {
    padding: 10px 10px;
    border-top: 0px solid black;
    margin: 10px;
  }
}
