.card {
  height: auto;
  padding: 0.5rem 0.5rem;
  background-color: var(--backgroundBoxLightPlus);
}

.cardTitle {
  margin: 0;
  font-size: 1.2rem;
  color: var(--backgroundBoxDark);
}

.cardImg {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
