.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.titleSection {
  padding-left: 1rem;
}

@media screen and (min-width: 720px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 820px) {
  .container {
    max-width: 800px;
  }
}

@media screen and (min-width: 1020px) {
  .container {
    max-width: 1000px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1220px) {
  .container {
    max-width: 1200px;
  }
}
