.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 2rem auto;

  a {
    padding: 0 0.5rem;
    color: var(--colorTextLight);
  }

  li {
    border: 1px solid black;
    padding: 0.3rem 0.2rem;
    margin-top: 0.5rem;
    background-color: var(--backgroundBoxDark);
  }
}

@media screen and (min-width: 800px) {
  .categories {
    max-width: 800px;
  }
}
