.footer {
  padding: 50px 0;
  margin-top: 50px;
  text-align: center;
  background-color: var(--backgroundBoxDark);
  color: var(--colorTextLight);
  font-weight: bold;
}

.footer p > a {
  color: var(--colorTextMid);
  text-decoration: none;
}
