.footer {
  padding: 3rem 0;
  margin-top: 3rem;
  text-align: center;
  font-weight: bold;
  background-color: var(--backgroundBoxDark);
  color: var(--colorTextLight);
}

.footer p > a {
  text-decoration: none;
  color: var(--colorTextMid);
}
