@import "variables.scss";

* {
  box-sizing: border-box;
}

body,
figure {
  margin: 0;
}

body {
  background-color: $backgroundDefault;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 720px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 820px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1020px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1220px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

:root {
  --backgroundBoxDark: #{$backgroundBoxDark};
  --backgroundBoxLight: #{$backgroundBoxLight};
  --backgroundBoxLightPlus: #{$backgroundBoxLightPlus};
  --colorTextLight: #{$colorTextLight};
  --colorTextMid: #{$colorTextMid};
  --colorTextTitles: #{$colorTextTitles};
}
