@import "variables.scss";

* {
  box-sizing: border-box;
}

body,
figure {
  margin: 0;
}

body {
  background-color: $backgroundDefault;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

:root {
  --backgroundBoxDark: #{$backgroundBoxDark};
  --backgroundBoxLight: #{$backgroundBoxLight};
  --backgroundBoxLightPlus: #{$backgroundBoxLightPlus};
  --colorTextLight: #{$colorTextLight};
  --colorTextMid: #{$colorTextMid};
  --colorTextTitles: #{$colorTextTitles};
}
